body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#timer-container {
    width: 350px;
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#custom-timer input, #custom-timer button, #predefined-timers button, #controls button {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#custom-timer button, #predefined-timers button, #controls button {
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

#custom-timer button:hover, #predefined-timers button:hover, #controls button:hover {
    background-color: #4cae4c;
}

#timers-list {
    margin-top: 20px;
}

.timer-info {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
